@charset "UTF-8";
header {
  border-bottom: solid 2px #914e09;
  border-left: solid 2px #914e09;
  border-right: solid 2px #914e09;
}
header .navbar {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
header .navbar .bt {
  color: #d07d2b;
  font-weight: bold;
}
header .navbar .bt:hover {
  color: #914e09;
}
header .navbar .bt .VMNav {
  font-size: 2rem;
}
header .container-fluid {
  padding-left: 1%;
  padding-right: 1%;
}
header .fuenteNavBar {
  font-size: 1rem;
}
header .fuenteNavBar .header {
  font-size: 1.3rem;
  color: #eb9c4d;
  transition: all 1s ease;
}
header .fuenteNavBar .header:hover {
  color: #d7710a;
  font-size: 1.4rem;
  text-transform: uppercase;
}

footer {
  background-color: #f4e0a4;
  width: 100%;
  bottom: 0;
  border-top: solid 1px #914e09;
}
footer .pie {
  font-size: 1.1rem;
  color: #914e09;
  font-weight: bold;
  text-align: center;
}

.caja {
  background-color: bisque;
  width: 35%;
  height: 40%;
  border: 0.2rem #eb9c4d solid;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 1% 33%;
}
.caja .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}
.caja form {
  margin: 5%;
}
.caja form label {
  display: block;
}
.caja form textarea {
  justify-content: center;
  align-content: center;
}
.caja form input {
  cursor: pointer;
}
.caja form .boton {
  background-color: #eb9c4d;
  border: none;
  width: 40%;
  margin: 1% 1%;
  border-radius: 50%;
  color: white;
}
.caja form .boton:hover {
  background-color: #f1bc86;
}

/*Versión tablet*/
@media (min-width: 500px) and (max-width: 900px) {
  .caja {
    width: 60%;
    height: 50%;
    margin: 1% 20%;
    overflow: scroll;
  }
  .navegador {
    font-size: 1.4rem;
  }
  .footerForm {
    font-size: 1rem;
  }
  .cuerpoForm {
    font-size: 1rem;
  }
}
/*Versión celu*/
@media (max-width: 500px) {
  .caja {
    width: 80%;
    height: 60%;
    margin: 1% 10%;
    overflow: scroll;
  }
  .navegador {
    font-size: 1rem;
  }
  .footerForm {
    font-size: 0.8rem;
  }
  .cuerpoForm {
    font-size: 1rem;
  }
}
.cuerpoM {
  width: 95%;
  text-align: center;
  margin: 1% 2.5%;
}
.cuerpoM .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.cuerpoM .mapa .PMMapa {
  align-content: center;
}

/*Versión celu*/
@media (max-width: 500px) {
  .PMMapa {
    height: 25rem;
    width: 25rem;
  }
}
/*Versión tablet*/
@media (min-width: 501px) and (max-width: 900px) {
  .PMMapa {
    height: 35rem;
    width: 35rem;
  }
}
/*Versión compu*/
@media (min-width: 901px) {
  .PMMapa {
    height: 40rem;
    width: 45rem;
  }
}
h3,
h4,
h5,
h6 {
  color: #914e09;
  font-style: oblique;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

figure {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 15rem;
  width: 20rem;
}

.guanaco {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 20rem;
  width: 16rem;
}

.zorro {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 12rem;
  width: 19rem;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.center-wrapper .titulo {
  text-decoration: none;
}
.center-wrapper .titulo span {
  font-size: 2rem;
  color: #914e09;
  text-align: center;
  font-style: oblique;
  font-family: "Playfair Display", serif;
}
.center-wrapper .titulo .typing-container {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}
.fotosCarr {
  width: 80%;
  margin: 1% 10%;
  text-align: center;
  padding: 0.3rem;
}
.fotosCarr .alto {
  height: 5%;
}

.textoVM {
  width: 95%;
  text-align: center;
  margin: 1% 2.5%;
}

.cuerpoInfo {
  width: 95%;
  text-align: center;
  margin: 1% 2.5%;
}
.cuerpoInfo .fauna,
.cuerpoInfo .flora {
  display: inline-flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.cuerpoInfo .subTitulo {
  text-decoration: underline;
  text-align: left;
}

body {
  background-color: #f4e0a4;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body p {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}
body .act {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}
body label {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}
body .linea {
  text-decoration: underline;
}
body .italica {
  font-style: italic;
}
body .negrita {
  font-weight: bold;
}

/*# sourceMappingURL=estilo.css.map */
