@charset "UTF-8";
.navbar {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.VMNav {
  font-size: 2rem;
}

.fuenteNavBar {
  font-size: 1rem;
}

.container-fluid {
  padding-left: 1%;
  padding-right: 1%;
}

.bt {
  color: #d7710a;
  font-weight: bold;
}
.bt:hover {
  color: #d7710a;
}

.header {
  font-size: 1.3rem;
  color: #eb9c4d;
}
.header:hover {
  color: #d7710a;
  font-size: 1.4rem;
  text-transform: uppercase;
}

header {
  border-bottom: solid 2px #914e09;
  border-left: solid 2px #914e09;
  border-right: solid 2px #914e09;
}

footer {
  background-color: #f4e0a4;
  width: 100%;
  bottom: 0;
  border-top: solid 1px #914e09;
}
footer .pie {
  font-size: 1.1rem;
  color: #914e09;
  font-weight: bold;
  text-align: center;
}

.caja {
  background-color: bisque;
  width: 35%;
  height: 40%;
  border: 0.2rem #eb9c4d solid;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 5% 35%;
}
.caja label {
  display: block;
}
.caja textarea {
  justify-content: center;
  align-content: center;
}
.caja input {
  cursor: pointer;
}
.caja .boton {
  background-color: bisque;
  border: gray 0.1rem solid;
}
.caja .boton:hover {
  background-color: #f1bc86;
}

.contenedorForm {
  display: grid;
  grid-template-areas: "header" "body" "pie";
}

.headerForm {
  grid-area: header;
}

.bodyForm {
  grid-area: body;
}

.pieForm {
  grid-area: pie;
}

form {
  margin: 5%;
}

/*Versión tablet*/
@media (min-width: 501px) and (max-width: 900px) {
  .caja {
    width: 50%;
    height: 50%;
    margin-left: 20%;
    overflow: scroll;
  }
  .navegador {
    font-size: 1.4rem;
  }
  .footerForm {
    font-size: 1rem;
  }
  .cuerpoForm {
    font-size: 1rem;
  }
  .contenedorForm {
    grid-template-areas: "header header" "body body" "pie pie";
  }
}
/*Versión celu*/
@media (max-width: 500px) {
  .caja {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    overflow: scroll;
  }
  .navegador {
    font-size: 1rem;
  }
  .footerForm {
    font-size: 0.8rem;
  }
  .cuerpoForm {
    font-size: 1rem;
  }
  .contenedorForm {
    grid-template-areas: "header header" "body body" "pie pie";
  }
}
.PMMapa {
  align-content: center;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Versión celu*/
@media (max-width: 500px) {
  .PMMapa {
    height: 25rem;
    width: 25rem;
  }
}
/*Versión tablet*/
@media (min-width: 501px) and (max-width: 900px) {
  .PMMapa {
    height: 35rem;
    width: 35rem;
  }
}
/*Versión compu*/
@media (min-width: 901px) {
  .PMMapa {
    height: 40rem;
    width: 45rem;
  }
}
h3,
h4,
h5,
h6 {
  color: #914e09;
  font-style: oblique;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

figure {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 15rem;
  width: 20rem;
}

.guanaco {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 20rem;
  width: 16rem;
}

.zorro {
  border: #914e09 0.2rem solid;
  border-radius: 0.5rem;
  color: #914e09;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background-color: #eab179;
  height: 12rem;
  width: 19rem;
}

body {
  background-color: #f4e0a4;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body h2 {
  font-size: 2rem;
  color: #914e09;
  text-align: center;
  font-style: oblique;
  font-family: "Playfair Display", serif;
}
body p {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}
body .act {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}
body label {
  color: #914e09;
  font-size: 1.3rem;
  text-align: justify;
}

.titulo {
  text-decoration: none;
}

.subTitulo {
  text-decoration: underline;
}

.linea {
  text-decoration: underline;
}

.italica {
  font-style: italic;
}

.negrita {
  font-weight: bold;
}

.fauna,
.flora {
  display: inline-flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/*# sourceMappingURL=estilo.css.map */
