header {
	border-bottom: solid 2px #914e09;
	border-left: solid 2px #914e09;
	border-right: solid 2px #914e09;

	.navbar {
		width: 100%;
		margin-right: 0;
		margin-left: 0;

		.bt {
			color: #d07d2b;
			font-weight: bold;

			&:hover {
				color: #914e09
			}

			.VMNav {
				font-size: 2rem;
			}
		}
	}

	.container-fluid {
		padding-left: 1%;
		padding-right: 1%;
	}

	.fuenteNavBar {
		font-size: 1rem;

		.header {
			font-size: 1.3rem;
			color: #eb9c4d;
			transition: all 1s ease;

			&:hover {
				color: #d7710a;
				font-size: 1.4rem;
				text-transform: uppercase;
			}
		}
	}
}