@import "variables", "header", "footer", "form", "mapa", "mixin", "titulos", "html", "informacion";

body {
	background-color: #f4e0a4;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;

	p {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}

	.act {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}

	label {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}

	.linea {
		text-decoration: $subrayado;
	}

	.italica {
		font-style: $italica;
	}

	.negrita {
		font-weight: $negrita;
	}
}