@import "variables", "header", "footer", "form", "mapa", "mixin";

body {
	background-color: #f4e0a4;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;

	h2 {
		font-size: 2rem;
		color: #914e09;
		text-align: center;
		font-style: oblique;
		font-family: 'Playfair Display', serif;
	}

	p {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}

	.act {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}

	label {
		color: #914e09;
		font-size: 1.3rem;
		text-align: justify;
	}
}

.titulo {
	text-decoration: none;
}

.subTitulo {
	text-decoration: underline;
}

.linea {
	text-decoration: $subrayado;
}

.italica {
	font-style: $italica;
}

.negrita {
	font-weight: $negrita;
}

.fauna,
.flora {
	display: inline-flex;
	gap: 2rem;
	flex-wrap: wrap;
}